$RebeccaPurple: #5C2A9D;
$SoftWhite: #FBFAF5;
$RussianViolet: #3E1046;
$Gainsboro:#dfdfdf;
$FrenchLilac: #8B7090;
$OldLavender: #78587E;
$PurpleNavy: #65587E;
$linear: linear-gradient(to right, #8e2de2, #4a00e0);